body{
    text-align: center;
    background-color: cornsilk;
}
p::first-letter{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: chartreuse;
    border-radius: 13px;
    width: 150px;
    height: 70px
}
button:hover{
    color: blue;
    background-color: cadetblue;
    font-size: 15px;
}
ul li:nth-child(1){
    background-color: coral;
    color: brown;
}
h3+p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}